@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS Registration</title>
    <link   rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position"
            asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/required-field.min.css" />
</head>
<body>
    <div class="urs-outer-container ">
            <nav class="navbar navbar-light navbar-expand-lg urs-navbar">
                <a class="navbar-brand urs-navbar-brand" href="#">
                    <img src="https://www.gsa.gov/sites/gsa.gov/templates/resources/images/nav-logo.png" width="30" height="30" alt="GSA Logo">
                </a>
                <button aria-controls="navbarCollapse" 
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#topNavbarCollapse"
                        data-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbarCollapse">
                    <ul class="mr-auto navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link urs-nav-link-brand" asp-page="/Index">Learning Academy User Registration</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link urs-nav-link" asp-page="/Index">Home</a>
                        </li> -->

                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanAccessStudentLink")).Succeeded)
                        {
                            <li class="nav-item"><a class="nav-link urs-nav-link" asp-page="/Enrollments/Index">My Programs</a></li>
                        }    
                    
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanAccessApproverLink")).Succeeded)
                        {
                            <li class="nav-item"><a class="nav-link urs-nav-link" asp-page="/Approvals/Index">Enrollments</a></li>
                        }   
                        <!-- <li class="nav-item">
                            <a class="nav-link urs-nav-link" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link urs-nav-link" asp-page="/Contact">Contact</a>
                        </li> -->
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav>
            <!-- <div class="container body-content" style="width:90%;margin-top:20px;font-family: 'Source Sans Pro', sans-serif;color:#333333;">  -->
                <div class="container body-content urs-body-content">
                @RenderBody()
            </div>
            <footer>
                <ul class="footer-links">
                    <!-- <li>|</li> -->
                    <li>
                        <a href="~/css/UserGuide.pdf" target="_blank" >User Guide</a>
                    </li> 
                    <li>|</li>
                    <li>
                        <a asp-page="/LAPrograms">Available Programs</a>
                    </li> 
                    <li>|</li>
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>  
                    <li>|</li>
                    <li>
                        <a asp-page="/About">About</a>
                    </li> 
                    <li>|</li>               
                    <li style="margin-right: 15px;">
                        <a asp-page="/Contact">Contact</a>
                    </li>  
                    <!-- <li style="margin-right: 15px;">|</li>                         -->
                </ul> 
                        
                <div class="footer-outer-div">
                    <div class="footer-inner-div-left">
                        <h3 title="GSA Logo" class="footer-logo">U.S. General Services Administration</h3>
                    </div>   
                    <div class="footer-inner-div-right">
                        <!-- <h4 title="American Flag" class="footer-flag">Official website of the U.S. Government</h4> -->
                        <span class="pull-right">
                            <img alt="American Flag" src="https://www.gsa.gov/sites/gsa.gov/templates/resources/images/icn-us-flag-21px.png" class="display-inline"/><small>&nbsp;Official website of the U.S. Government</small>
                        </span>
                    </div>                               
                </div>
            </footer>   
            <!-- Version: 2019-03-28-14-30 -->   
    </div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"                
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>