@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@Model.Message</h3> -->

<p>Please reach out to your assigned GSA Program Manager for any issues you may experience with the GSA Learning Academy (LA) User Registration Site (URS). For technical issues please review the contact information below:</p>

<address>
    <strong>Technical Support (only):</strong>&nbsp;<a href="mailto:gsalearningacademy@gsa.gov">gsalearningacademy@gsa.gov</a><br />
</address>

<address>
    GSA Headquarters<br />
    1800 F Street, NW <br />
    Washington, DC 20405<br />
</address>
<address>
    <strong>Monitored Hours:</strong>&nbsp;8:00 AM CT - 5:00 PM CT
</address>
